@import "tailwindcss";
@import "tw-animate-css";
@import "@qbs-autonaim/tailwind-config/theme";

@source "../../../../packages/ui/src/**/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant auto (&:where(.auto, .auto *));

@utility container {
  margin-inline: auto;
  padding-inline: --theme(--spacing);
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= --theme(--breakpoint-2xl)) {
    max-width: 1400px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}
