name: Deploy Jobs
on:
  push:
    branches: [main]
    paths:
      - 'packages/jobs/**'
      - 'packages/prompts/**'
      - 'packages/lib/**'
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CI: "true"
  KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
  IMAGE_TAG: ${{ github.sha }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.event.pull_request.head.ref, 'dependabot/') == false && startsWith(github.event.pull_request.head.ref, 'renovate/') == false }}
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push Image
        run: |
          IMAGE_ID=$REGISTRY/$IMAGE_NAME
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          docker build . --file packages/jobs/Dockerfile \
            --tag $IMAGE_ID:$IMAGE_TAG \
            --tag $IMAGE_ID:latest
          docker push $IMAGE_ID:latest
          docker push $IMAGE_ID:$IMAGE_TAG
      - name: Deploy To Cluster
        uses: kodermax/kubectl-aws-eks@main
        with:
          args: set image deployment/qbs-autonaim-jobs qbs-autonaim-jobs=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} -n qbs
      - name: Sync Inngest App
        run: |
          sleep 10
          curl -X PUT https://jobs.spilwood.ru/api/inngest
      - name: Sync Inngest App
        run: |
          sleep 10
          curl -X PUT https://jobs.spilwood.ru/api/inngest