name: Deploy Telegram Client
on:
  push:
    branches: [main]
    paths:
      - 'packages/tg-client/**'
      - 'packages/jobs/**'
      - 'packages/lib/**'
jobs:
  # Deploy to EKS
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Login to Yandex Cloud Container Registry
        id: login-cr
        uses: yc-actions/yc-cr-login@v2
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
      - name: Build, tag, and push image
        env:
          CR_REGISTRY: crpqovavgc2mbmvv32ko
          CR_REPOSITORY: qbs-autonaim-tg-client
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -f packages/tg-client/Dockerfile -t cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:$IMAGE_TAG -t cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:latest .
          docker push cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:$IMAGE_TAG
          docker push cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:latest
      - name: Deploy To Cluster
        uses: kodermax/kubectl-aws-eks@main
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
          CR_REGISTRY: crpqovavgc2mbmvv32ko
          CR_REPOSITORY: qbs-autonaim-tg-client
          IMAGE_TAG: ${{ github.sha }}
        with:
          args: set image deployment/$CR_REPOSITORY $CR_REPOSITORY=cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:$IMAGE_TAG -n qbs
      - name: Verify Deployment
        uses: kodermax/kubectl-aws-eks@main
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        with:
          args: rollout status deployment/qbs-autonaim-tg-client -n qbs